!!! 5
//-<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
//-<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
//-<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
//-<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title Jonah Kagan
    meta(name="description", content="I make things with code, words, and pretty much anything else I can get my hands on")
    meta(name="author", content="Jonah Kagan")

    meta(name="viewport", content="width=device-width")

    link(rel="stylesheet", href="style/style.css")
    //-script(src="script/libs/less-1.3.0.min.js")


    script(src="script/libs/modernizr-2.5.3-respond-1.1.0.min.js")

  body
    //-<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    // Hey dude, welcome to... THE SOURCE. I always do this too. I
    // didn't minify or obscure anything (at least not on purpose), so
    // hopefully you can figure out what's going on. Otherwise, feel free
    // to ask me anything via the electronic mail.

    .container

      .page-header
        h1
          a#name(href="#") Jonah Kagan
          small: a(href="#about") (who?)
          
      #start.row
        .span12
          canvas#mainCanvas
        .span4
          ul#toc.nav.nav-pills.nav-stacked

      #projects

        mixin sect(id)
          section(id="#{id}"): .row: block

        mixin title(name, id)
          h2: a(href="##{id}")!= name

        mixin col(width)
          div(class="span#{width}"): block

        mixin btn(href, text)
          a.btn.btn-primary(href="#{href}")= text

        mixin thumb(src, href)
          a.thumbnail(href=href)
            img(src=src)

        mixin video(src)
          div.thumbnail.video.
            <iframe width="620" height="349" 
              src="#{src}" frameborder="0"
              allowfullscreen></iframe>

        +sect("calcoolator")
          include projects/calcoolator

        section(id="rubes")
          include projects/rubes

        +sect("virion")
          include projects/virion

        +sect("crosswords")
          include projects/crosswords

        +sect("donnerParty")
          include projects/donnerParty

        +sect("bestOfBrown")
          include projects/bestOfBrown

        +sect("illusions")
          include projects/illusions

        //-+sect("misc")
        //-  include projects/misc

      section#about: .row
        include about

      footer

        mixin tool(name, url)
          a(href=url)= name

        p &copy; Jonah Kagan 2012
          &bullet; Made with 
          +tool("Jade", "http://jade-lang.com")
          , 
          +tool("Bootstrap", "http://twitter.github.com/bootstrap/")
          , 
          +tool("CoffeeScript", "http://coffeescript.org")
          , and 
          +tool("Processing.js", "http://processingjs.org")


    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script
      window.jQuery || document.write('<script src="script/libs/jquery-1.7.2.min.js"><\/script>')

    script(src="script/libs/bootstrap/bootstrap.min.js")
    script(src="script/libs/processing-1.3.6.min.js")
    script(src="script/libs/underscore-min.js")

    script(src="script/script.js")
    script(src="script/lightning.js")

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32901857-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

