wordUrl = "http://www.amazon.com/Word-Crossword-Puzzles-Prove-Square/dp/0761167552"
nytUrl = "http://wordplay.blogs.nytimes.com/tag/jonah-kagan/"
atbUrl = "http://acrosstobear.wordpress.com/"

mixin puz(name, blogUrl)
  span
    | - 
    a(href="projects/crosswords/#{name}.puz") [.puz]
    |  
    a(href="projects/crosswords/#{name}.pdf") [.pdf]
    if blogUrl
      |  (
      a(href=blogUrl) blog
      | )


+col(4)
  +title("Crossword Puzzles", "crosswords")
  :markdown
    I've made crossword puzzles for the [New York Times](#{nytUrl}),
    the [Brown Daily Herald](#{atbUrl}). Some of my puzzles were
    recently published in [Word.](#{wordUrl}), a book of crosswords by
    young constructors created by Natan Last.

    Here are some puzzles in .puz and .pdf format. You can solve
    .puz files on your computer by downloading
    [Across Lite](http://www.litsoft.com/across/alite/download/)
    (it's free!).
      
  ul
    li
      | NYT Friday, 5/11/11 
      +puz("NYTMay1111", "http://wordplay.blogs.nytimes.com/2011/05/10/enjoy/")
    li
      | NYT Monday, 10/25/10 
      +puz("NYTOct2510", "http://wordplay.blogs.nytimes.com/2010/10/24/exciting/")
    li
      | Brown Daily Herald #8 
      +puz("ATB8")
            
+col(8)
  ul.thumbnails
    li.span4
      +thumb("img/nytpuzzle.jpg", nytUrl)
    li.span4
      +thumb("img/word.jpg", wordUrl)
